<ion-header>
   <ion-navbar>
          <button class="menu-ic" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
		<button class="back-ic" ion-button menuToggle>
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
		
    </ion-navbar>
</ion-header>

<ion-content padding>
	 <style>
		@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
	</style>
	<ion-item class="name heads">
		<h1 class="main_new_title">Social</h1>
	</ion-item>
	<ion-item class="block-ct name heads">
		<h1>Interests</h1>
	</ion-item>
	<ion-item class="block-ct1 name heads">
		<h1>Events</h1>
	</ion-item>
	<ion-item class="block-ct2 name heads">
		<h1>Experience</h1>
	</ion-item>
	<ion-item class="block-ct1 name heads">
		<h1>Experience</h1>
	</ion-item>
	<ion-item class="block-ct name heads">
		<h1>Experience</h1>
	</ion-item>
</ion-content>
