

<ion-content padding>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
	</style>
	<ion-item class="logo">
		<ion-img src="../../assets/img/logo.png"></ion-img>
	</ion-item>
	<ion-item class="inputs">
		<input type="text" placeholder="Email">
	</ion-item>
	<ion-item class="inputs">
		<input type="password" placeholder="Password">
	</ion-item>
	<ion-item class="btn-cnfrm">
		<button class="lg-in">Log in</button>
	</ion-item>
	<ion-item class="btn-cnfrm">
		<a href="#">forgot password?</a>
	</ion-item>
	<ion-item class="btn-cnfrm">
		<button class="sn-in">SIGN UP</button>
	</ion-item>
</ion-content>
