<ion-tabs #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="pricetags"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="chatboxes"></ion-tab>
</ion-tabs>
