<ion-header>
    <ion-navbar>
        <button class="menu-ic" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
		<button class="back-ic" ion-button menuToggle>
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
	 <style>
		@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
	</style>
	<ion-item class="pro-pic">
		<img src="../../assets/img/pexels-photo-733872.jpeg"/>
	</ion-item>
	<ion-item class="name">
		<h1>Antoinett Anasoh</h1><br/>
		<h2>Essence <span>02/02/12</span></h2>
	</ion-item>
	<ion-item class="bot-ess">
		<ul class="ul-lists">
			<li><a href="#"><ion-icon name="person"></ion-icon> My Account</a></li>
			<li><a href="#"><ion-icon name="ios-person-add"></ion-icon> My Interests</a></li>
			<li><a href="#"><ion-icon name="ios-people"></ion-icon> My Activities</a></li>
			<li><a href="#"><ion-icon name="ios-pricetags"></ion-icon> My Redemptions</a></li>
			<li><a href="#"><ion-icon name="ios-people"></ion-icon> My Messages</a></li>
			<li><a href="#"><ion-icon name="person"></ion-icon> My Support</a></li>
		</ul>
	</ion-item>
	
</ion-content>
