<ion-header>
    <ion-navbar>
          <button class="menu-ic" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
		<button class="back-ic" ion-button menuToggle>
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
		
    </ion-navbar>
</ion-header>

<ion-content padding>
	 <style>
		@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
	</style>
	<ion-item class="name heads">
		<h1 class="main_new_title">Foodies</h1>
	</ion-item>
	<div class="back-i">
		<button>
          <ion-icon name="ios-person-add"></ion-icon>
		  join
		</button>
	</div>
	<ul class="nav-items">
		<li><a href="#">Home</a></li>
		<li><a href="#">Posts</a></li>
		<li><a href="#">Actvities</a></li>
	</ul>
	<ion-item class="text-p">
		<p>Food lover, get in here! Explore us and find mouth watering... <a href="#">Read more</a></p>
	</ion-item>
	<ion-item class="name heads clr-hd">
		<span></span>
		<h1>GALLERY</h1>
	</ion-item>
	<ion-item class="gallery">
		<img src="../../assets/img/pexels-photo-733872.jpeg"/>
		<img src="../../assets/img/pexels-photo-733872.jpeg"/>
		<img src="../../assets/img/pexels-photo-733872.jpeg"/>
		<img src="../../assets/img/pexels-photo-733872.jpeg"/>

	</ion-item>
</ion-content>
