// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.logo, .profile-pic{
	width:25%;
	overflow:hidden;
	margin: 35px auto 100px;
}
.profile-pic{
	width:40%;
	overflow:hidden;
	margin: 35px auto ;
	border-radius:100%;
	border:1px solid #68040a;
	
}
.item-inner, .item-md{
	padding:0px !important;
}
.label-md{
	margin:0px ;
}
.logo ion-img{
	width:100%;
	contain:none !important;
}
.profile-pic ion-img{
	width:100%;
	border-radius:100%;
	contain:none !important;
}
.logo .item-inner{
	
	border:none !important;
}
.inputs input{
	    padding: 10px 3px;
	width:90%;
	margin:0px auto !important;
	border: none;
	font-family: 'Comfortaa', cursive;
	font-size:10px;
}
.inputs{
	    overflow: hidden;
    width: 90%;
    text-align: center;
    margin: 0px auto;
}
.btn-cnfrm .item-inner{
	
	border:none !important;
}
.btn-cnfrm{
	text-align:center;
	font-family: 'Comfortaa', cursive;
}
.btn-cnfrm a{
	text-decoration: none;
    font-size: 11px;
    color: #000;
}
.lg-in{
	    width: 39%;
    font-size: 25px;
    padding: 8px;
    border-radius: 16px;
    color: #fff;
    background: #68040a;
    margin: 26px 0px 6px;
}
.sn-in{
	    width: 39%;
    font-size: 21px;
    padding: 8px;
    border-radius: 16px;
    color:  #68040a;
    background: #fff;
    margin: 26px 0px 6px;
}
.terms a{
    color:  #68040a;
	font-size:7px !important;
	
}
.terms{
	font-size:7px !important;
	color:black !important;
}


.pro-pic{
	overflow:hidden;
	text-align:center;	
	margin:10px 0px;
}
.pro-pic .item-inner{
	border:none !important;
}
.pro-pic img{
	border-radius:100%;
	width:120px;
	border:none;
		height:120px;
}
.name{
	text-align:center;
	font-family: 'Comfortaa', cursive;
}
/*.name .item-inner{
	border:none !important;
}*/
.name span{
	    font-size: 11px;
    padding-left: 25px;
}
.name h2{
	margin: -12px 0 0px 0px;
	    padding-bottom: 33px;
}
.bot-ess {
	
	font-family: 'Comfortaa', cursive;
}
.toolbar-background-md{
	border:none;
	background:#fff;
}
.header-md::after{
	background:none;
}
.menu-ic{
		position:absolute;
		right:10px;
}
.back-ic{
}
ion-navbar ion-icon{
	    font-weight: bolder;
    color: #68040a;
}
.ul-lists a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
.ul-lists li{
	padding:10px;
	list-style:none;
}
.ul-lists{
	font-size:12px;
	padding:0px;
	font-family: 'Comfortaa', cursive;
}
.bot-ess .item-inner{
	border:none !important;
}
.ul-lists li ion-icon{
    color: #68040a;
    padding-right: 19px;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -3px;
}
.heads .item-inner{
	border:none !important;
}
page-home .scroll-content{
	padding:5px 0px !important;
}
.back-i{
	    width: 100%;
    height: 230px;
    background-size: cover;
    background-image: url(../assets/img/download.jpg);
    margin-top: 3px;
}
.back-i button{
	font-size: 22px;
    border-radius: 9px 0px 0px 9px;
    font-family: 'Comfortaa', cursive;
    position: absolute;
    right: 0px;
    padding: 15px 12px;
    top: 180px;
    font-weight: 600;
    text-transform: capitalize;
} 
.back-i button ion-icon{
	color: #68040a;
    padding-right: 2px;
    font-size: 36px;
    margin-top: -3px;
    vertical-align: middle;
    line-height: 0px;
}
.nav-items{
	font-family: 'Comfortaa', cursive;
	    display: inline-flex;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.nav-items li{
	list-style:none;
	width:33%;
	border-right:1px solid #ccc;
}
.nav-items li a{
	font-weight: 600;
	color:#000;
	text-decoration:none;
}
.nav-items li:first-child a{
	color: #68040a;
}
.nav-items li:last-child{
	border:none;
}
.text-p .label{
	text-align:center;
	white-space: pre-line !important;
}
.text-p p{
	font-family: 'Comfortaa', cursive;
	    width: 55%;
    margin: 0px auto;
    color: #444;
    font-size: 15px;

}
.text-p .item-inner{
	border:none !important;
}
.clr-hd{
    width: 100%;
    color: #68040a;
    margin: 0px auto
}
.clr-hd span{
    width: 16%;
    border-top: 2px solid #999;
    margin: 0 auto;
    display: block;
}
.clr-hd h1{
	width: 100%;
	padding:21px;
	overflow: hidden;
	font-weight: 600;
}
.gallery img{
    padding: 2px;
    width: 50%;
    float: left;
    border-radius: 6px;
}
.block-ct h1,.block-ct1 h1,.block-ct2 h1{
	padding:48px;
	color:#fff;
	
}

.tab-button{
    color: #68040a !important;
}
.tab-button ion-icon{
    color: #68040a !important;
}
.tabbar {
    background: #ffffff !important;
    box-shadow: 0px 0px 10px -1px #999;
}
.block-ct2{
    background-size: cover;
  background-image: url("../assets/img/images (1).jpg");
	width:100%;
	border-radius:10px;
	margin:10px auto; 
}	
.block-ct1{
    background-size: cover;
  background-image: url("../assets/img/images.jpg");
	width:100%;
	border-radius:10px;
	margin:10px auto;  
	
}
.block-ct{
	background-size: cover;
  background-image: url("../assets/img/espresso-ground-coffee-beans-1296x728.jpg");
	width:100%;
	border-radius:10px;
	margin:10px auto;
}
.main_new_title{
    font-weight: 600 !important;
    line-height: 40px;
    margin-bottom: 0px !important;
}

.menu-inner{
	.header{
		ion-toolbar{
			text-align: center;
			color: #fff;
		}
		.toolbar-background-md{
			background: #650606;
		}
		.toolbar-title-md{
			color: #fff;
		}

	}
	.input-wrapper{
			padding-left: 10px;
			label{

			}
		}
}