

<ion-content padding>
  <style>
		@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
	</style>
	<ion-item class="profile-pic">
		<ion-img src="../../assets/img/user-img-lg.jpg"></ion-img>
	</ion-item>
	<ion-item class="inputs">
		<input type="text" placeholder="Full Name">
	</ion-item>
	<ion-item class="inputs">
		<input type="text" placeholder="Email">
	</ion-item>
	<ion-item class="inputs">
		<input type="password" placeholder="Password">
	</ion-item>
	<ion-item class="inputs">
		<input type="password" placeholder="Confirm Password">
	</ion-item>
	<ion-item class="btn-cnfrm">
		<button style="font-size: 21px; font-weight:normal; padding: 11px 0px 9px;" class="lg-in">SIGN UP</button>
	</ion-item>
	<ion-item class="btn-cnfrm">
		<p class="terms">By clicking <a href="#">sign up</a>you accepts  <a href="#">terms & conditions</a> of our applications</p>
	</ion-item>
	
</ion-content>
